Only 2 years Data can be extracted at a time

In [1]:
import requests

from bs4 import BeautifulSoup

import pandas as pd

In [2]:
from datetime import timedelta, datetime, date, time

from io import StringIO

In [24]:
headers = {
    'User-Agent':
    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36'
}

session = requests.session()

In [5]:
stock_symbol = ["TataMotors","M&M", "MARUTI", "ASHOKLEY", "EICHERMOT"]

to_date = datetime.today().strftime("%d-%m-%Y")

from_date = datetime(datetime.today().year-1, datetime.today().month, datetime.today().day).strftime("%d-%m-%Y")

In [17]:
def getHistoricalData(stock_symbol, from_date, to_date) :
    
    session.get('https://www.nseindia.com', headers = head)
    session.get('https://www.nseindia.com/get-quotes/equity?symbol='+ stock_symbol, headers= head) # To Save Cookies
    session.get('https://www.nseindia.com/api/historical/cm/equity?symbol='+stock_symbol,headers= head)
    
    stock_url = 'https://www.nseindia.com/api/historical/cm/equity?symbol='+stock_symbol+'&series=[%22EQ%22]&from='+upto_date+'&to='+start_date+'&csv=true'
    
    stock_data = session.get(url= stock_url, headers = head)
    
    df = pd.read_csv(StringIO(stock_data.text[3:]))
    
    return df

In [25]:
def getHistoricalStockData(stock_symbol, from_date, to_date) :
    
    session.get('https://www.nseindia.com', headers = headers)
    session.get(f'https://www.nseindia.com/get-quotes/equity?symbol={stock_symbol}', headers= headers) # To Save Cookies
    session.get(f'https://www.nseindia.com/api/historical/cm/equity?symbol={stock_symbol}',headers= headers)
    
    stock_url = f'https://www.nseindia.com/api/historical/cm/equity?symbol={stock_symbol}&series=[%22EQ%22]&from={from_date}&to={to_date}&csv=true'
    
    stock_data = session.get(url= stock_url, headers = headers)
    
    df = pd.read_csv(StringIO(stock_data.text[3:]))
    
    return df

In [27]:
getHistoricalStockData('TataMotors','01-03-2020', '01-03-2022')

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Feb-2022,EQ,445.00,457.35,440.45,459.75,453.95,454.05,452.40,536.70,268.45,34475468,"15,596,569,802.85",355388
1,25-Feb-2022,EQ,444.85,465.70,441.60,427.95,460.85,459.75,459.06,536.70,268.45,48876182,"22,436,877,368.65",536058
2,24-Feb-2022,EQ,455.95,461.55,405.45,477.00,425.90,427.95,443.91,536.70,268.45,57265685,"25,420,800,452.15",775585
3,23-Feb-2022,EQ,481.75,485.40,475.30,478.25,477.00,477.00,480.31,536.70,268.45,17703998,"8,503,350,999.45",205394
4,22-Feb-2022,EQ,480.55,486.30,471.45,494.45,478.50,478.25,479.41,536.70,268.45,27957544,"13,403,106,998.80",310898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,06-Mar-2020,EQ,115.00,117.30,112.80,125.75,113.80,114.20,114.92,239.35,106.00,83971462,"9,649,959,731.30",331758
493,05-Mar-2020,EQ,127.55,129.15,124.25,126.20,124.75,125.75,126.45,239.35,106.00,87795649,"11,102,025,232.35",268826
494,04-Mar-2020,EQ,129.60,129.60,120.55,130.35,126.40,126.20,124.90,239.35,106.00,97546902,"12,183,611,418.40",294498
495,03-Mar-2020,EQ,127.50,131.40,125.25,125.40,130.40,130.35,127.87,239.35,106.00,86765576,"11,094,977,773.95",287946
496,02-Mar-2020,EQ,133.00,133.90,123.80,128.95,125.10,125.40,128.88,239.35,106.00,111585697,"14,381,475,114.05",340443

In [31]:
getHistoricalStockData('TataMotors','01-03-2018', '01-03-2020')

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Feb-2020,EQ,138.85,139.60,127.05,145.25,129.65,128.95,132.43,239.35,106.00,94469619,"12,510,276,083.70",341462
1,27-Feb-2020,EQ,144.15,146.75,141.10,144.55,145.30,145.25,143.41,239.35,106.00,51328153,"7,361,202,476.30",180842
2,26-Feb-2020,EQ,146.90,147.90,143.70,149.90,144.50,144.55,145.64,239.35,106.00,47605927,"6,933,104,207.95",218833
3,25-Feb-2020,EQ,152.20,153.40,147.45,150.65,150.45,149.90,149.93,239.35,106.00,52719851,"7,904,055,121.55",199104
4,24-Feb-2020,EQ,154.00,155.90,149.60,158.50,150.60,150.65,153.41,239.35,106.00,39706007,"6,091,447,107.90",191095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,08-Mar-2018,EQ,350.80,351.90,341.05,347.80,345.05,345.15,344.99,488.25,341.05,7674221,"2,647,560,294.55",92335
489,07-Mar-2018,EQ,345.00,355.30,343.25,346.50,348.05,347.80,349.95,488.25,343.25,15599393,"5,458,998,930.15",131424
490,06-Mar-2018,EQ,355.15,357.95,345.00,352.05,346.20,346.50,352.13,488.25,345.00,8876632,"3,125,771,665.60",127268
491,05-Mar-2018,EQ,368.75,368.75,350.10,370.75,351.95,352.05,356.11,488.25,350.10,14665325,"5,222,483,012.05",128205
492,01-Mar-2018,EQ,369.75,376.30,369.05,369.90,370.10,370.75,373.10,488.25,356.50,6991806,"2,608,660,988.45",78996

In [23]:
print(getHistoricalData('TataMotors', upto_date = '01-03-2020', start_date = '01-03-2022'))

           Date  series    OPEN    HIGH     LOW   PREV. CLOSE     ltp   \
0    28-Feb-2022      EQ  445.00  457.35  440.45        459.75  453.95
1    25-Feb-2022      EQ  444.85  465.70  441.60        427.95  460.85
2    24-Feb-2022      EQ  455.95  461.55  405.45        477.00  425.90
3    23-Feb-2022      EQ  481.75  485.40  475.30        478.25  477.00
4    22-Feb-2022      EQ  480.55  486.30  471.45        494.45  478.50
..           ...     ...     ...     ...     ...           ...     ...
492  06-Mar-2020      EQ  115.00  117.30  112.80        125.75  113.80
493  05-Mar-2020      EQ  127.55  129.15  124.25        126.20  124.75
494  04-Mar-2020      EQ  129.60  129.60  120.55        130.35  126.40
495  03-Mar-2020      EQ  127.50  131.40  125.25        125.40  130.40
496  02-Mar-2020      EQ  133.00  133.90  123.80        128.95  125.10

     close    vwap   52W H   52W L     VOLUME              VALUE   \
0    454.05  452.40  536.70  268.45   34475468  15,596,569,802.85
1    459.75  459.06  536.70  268.45   48876182  22,436,877,368.65
2    427.95  443.91  536.70  268.45   57265685  25,420,800,452.15
3    477.00  480.31  536.70  268.45   17703998   8,503,350,999.45
4    478.25  479.41  536.70  268.45   27957544  13,403,106,998.80
..      ...     ...     ...     ...        ...                ...
492  114.20  114.92  239.35  106.00   83971462   9,649,959,731.30
493  125.75  126.45  239.35  106.00   87795649  11,102,025,232.35
494  126.20  124.90  239.35  106.00   97546902  12,183,611,418.40
495  130.35  127.87  239.35  106.00   86765576  11,094,977,773.95
496  125.40  128.88  239.35  106.00  111585697  14,381,475,114.05

     No of trades
0           355388
1           536058
2           775585
3           205394
4           310898
..             ...
492         331758
493         268826
494         294498
495         287946
496         340443

[497 rows x 14 columns]

## Nifty Data

In [55]:
def niftyHistoricalStockData(varient, from_date = ((datetime(datetime.today().year - 1, datetime.today().month, datetime.today().day) + timedelta(days=2)).strftime("%d-%m-%Y")), to_date =(datetime.today().strftime("%d-%m-%Y"))):
    varient = varient.upper()
    varient = varient.replace(' ','%20')
    varient = varient.replace('-','%20')
#     varient = varient.replace('&','%26')
    
    nifty_url = "https://www1.nseindia.com/products/dynaContent/equities/indices/historicalindices.jsp?indexType=" + varient +"&fromDate=" + from_date + "&toDate=" + to_date 
        
    nifty_data = session.get(url = nifty_url, headers = headers)
    
    soup = BeautifulSoup(nifty_data.text,'html5lib')
    
    df_nf = pd.read_csv(StringIO(soup.find('div',{'id':'csvContentDiv'}).contents[0].replace(':','\n')))
    
    return df_nf

In [57]:
niftyHistoricalStockData('NIFTY 50')

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,08-Mar-2021,15002.45,15111.15,14919.90,14956.20,580308065,29518.07
1,09-Mar-2021,15049.90,15126.85,14925.45,15098.40,675271251,38365.48
2,10-Mar-2021,15202.15,15218.45,15100.85,15174.80,404585756,25603.32
3,12-Mar-2021,15321.15,15336.30,14953.60,15030.95,493238854,32195.96
4,15-Mar-2021,15048.40,15048.40,14745.85,14929.50,467473367,28118.00
...,...,...,...,...,...,...,...
241,25-Feb-2022,16515.65,16748.80,16478.30,16658.40,329780732,25743.77
242,28-Feb-2022,16481.60,16815.90,16356.30,16793.90,404214666,33831.57
243,02-Mar-2022,16593.10,16678.50,16478.65,16605.95,517723542,39407.44
244,03-Mar-2022,16723.20,16768.95,16442.95,16498.05,0,0.00
245,04-Mar-2022,16339.45,16456.00,16133.80,16245.35,456143040,34821.10